<button class="feedback" data-toggle="modal" data-target="#feedbackModal">Feedback</button>
<div class="modal hide fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header" style="padding-left:100px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="icon-remove-circle icon-large"></i>
    </button>
    <h3 id="myModalLabel">Feedback</h3>
  </div>

<form class="form-horizontal" id="feedbackForm">

  <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="inputSubject">Subject</label>
        <div class="controls">
          <input type="text" class="input-xlarge" name="subject" id="inputSubject">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="feedbackDetail">Details</label>
        <div class="controls">
          <textarea id="feedbackDetail" name="detail" class="input-xlarge" rows="7"></textarea>
        </div>
      </div>
      <input type="hidden" value="<%=userData.userDisplayName%>" name="username"/>
      <input type="hidden" value="<%=userData.userEmailId%>" name="useremail"/>
  </div>
  <input type="submit" class="btn btn-info pull-right" style="margin-bottom:15px;margin-right:80px;" value="Submit"/>

  </form>

</div>