<!DOCTYPE html>

<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<% if(typeof title !== 'undefined') { %>
    <title><%= title %></title>
  <% } else { %>
    <title>MovieSpotting</title>
  <% } %>

  	<style type="text/css">
		body{
			background-image:url('/images/back1.jpg') !important;
			background-repeat: no-repeat !important;
			background-size: 100% !important;
		}
		html,body,.main-container{
			height: 100%;
		}
	</style>
	
	<link href="/css/moviespotting.min.css?ver=382743660" rel="stylesheet">

	<!-- Le styles 
  	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/font-awesome.css" rel="stylesheet">
  	<link href="/css/style.css" rel="stylesheet">
  	-->
  	
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Page Layout HTML here -->
  	<div class="container" style="margin-top:15px;">
  		<a href="/login"><img src="/images/logo.png"></a>
  	</div>
    <div class="container main-container">
		<div class="row">
			<div class="span4 sign-in-form">
				<h4> Sign Up</h4>
			  	<div>
					<form action="/usersignup" method="post" id="signUpForm">
					    <div class="input-prepend">
					    	<span class="add-on"><i class="icon-info"></i></span>
					      	<input class="input-large" type="text" name="userdisplayname" placeholder="Full Name">
					  	</div>
					      <div class="input-prepend">
						    	<span class="add-on"><i class="icon-user"></i></span>
					      		<input class="input-large" type="text" name="useremail" placeholder="Email id">
					      </div>
					      <div class="input-prepend">
						    	<span class="add-on"><i class="icon-lock"></i></span>
					      		<input class="input-large" type="password" name="password" placeholder="Password"><br>
					      </div>
					      <button type="submit" class="btn btn-info">Sign Up</button>
					      <div class="signUpLink pull-right" style="margin-right:20px;">
							<span class="subtext">Already Done ?</span>
							<a href="/login" class="main-text">Log In</a>
						</div>
					</form>
				  	<div class="alert alert-error" id="signupMessageBlock">
				  		<div id="signupMessage">
				  		</div>
				  	</div>
			  	</div>
			</div>
			<div class="span7 offset1" style="color:#fff">
				<h1>Your next favorite movie is here !</h1>
			</div>

		</div>
	<div class="container no-result" style="position:absolute;bottom:25px;">
        <div style="color:#fff;">
            <span>Made with</span>
            <i class="icon-heart" style="cursor:default;color:#da4f49"></i>
            <span>in Bangalore,IN</span>
        </div>
	</div>
<% include uiscripts %>
<% include footer %>